<div class="footer">
    <div class="footerImages">
        <a href=""><i class="fa-brands fa-square-instagram"></i></a>
        <a href=""><i class="fa-brands fa-facebook"></i></a>
        <a href=""><i class="fa-brands fa-twitter"></i></a>        
    </div>
    <p class="filmCritic">&copy;2024    &nbsp;&nbsp;FilmCritic</p>
    <p class="madeWith">Made with <i>&#10084;</i> </p>
</div>