<% layout("/layouts/boilerplate.ejs") %>
<body> 
    <div class="row  row-cols-xxl-6 row-cols-xl-5 row-cols-lg-4 row-cols-md-3 row-cols-sm-2 row-cols-1">
        <%for (let listing of listings){ %>
            <a class="singleMovie" href="/listings/<%=listing._id%>">
                <div class="card indexCard col" >
                    <img src="<%=listing.image%>" class="card-img-top " alt="movieImage">
                    <div class="card-body">
                      <p class="card-title"><%=listing.name%></p>
                      <p class="card-text"><%=listing.year%></p>                                        
                    </div>
                </div>  
            </a>      
        <%}%>
    </div>

    
</body>




